﻿<div class="modal-header">
    <h3 class="modal-title" translate="ADD_TEAMMATE"></h3>
</div>
<div class="modal-body">
    <form novalidate class="form-horizontal" name="addTeammate">
        <input class="form-control" type="search" ng-model="emailPart" ng-change="search(emailPart)" placeholder="{{ 'TEAMMATE_EMAIL_SEARCH' | translate }}"/>
        <div style="position: absolute; z-index: 10;" ng-show="userPreview.length > 0">
            <ul class="list-group">
                <li class="links-pointer list-group-item" ng-repeat="user in userPreview" ng-click="addUser(user)">
                    <span>{{user.Email}}</span>
                </li>
            </ul>
        </div>
        <div class="form-group" ng-show="users.length > 0">
            <label class="control-label col-sm-2" translate="USERS"></label>
            <div class="col-md-10">
                <ul class="list-group">
                    <li class="list-group-item list-item-overflow " ng-repeat="user in users">
                        <span class="left col-sm-11">{{user.FirstName + " " + user.LastName + "(" + user.Email + ")"}}</span>
                        <span class="delete-a links-pointer right glyphicon glyphicon-remove" ng-click="deleteTeammate(user)" ></span>
                    </li>
                </ul>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" translate="OK"></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="CANCEL"></button>
</div>