﻿<!-- Additional info adding in edit mode -->
<div class="modal-header">
    <h3 class="modal-title">{{ 'ADD_DETAIL_TITLE' | translate }}</h3>
</div>
<div class="modal-body">
    <form name="detailForm" role="form" novalidate>
        <div class="row form-group">
            <div class="col-sm-offset-1 col-sm-10">
                <select ng-options="option.Type for option in options track by option.Id"
                        ng-model="selectedOption"
                        ng-change="updateUploader(selectedOption.Id)"
                        class="form-control"></select>
            </div>
        </div>

        <!-- Text data -->
        <div class="form-group" ng-show="selectedOption.Type == 'Text'">
            <label class="control-label col-sm-2">{{ 'TITLE' | translate }}:</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : detailForm.title.$invalid && detailForm.title.$dirty }">
                <input class="form-control" ng-model="detailTitle" name="title"
                       placeholder="{{ 'INPUT_TITLE' | translate}}" required ng-minlength="1" ng-maxlength="20"/>
            </div>
            <div class="clearfix"></div>
            <p ng-show="detailForm.title.$invalid && detailForm.title.$dirty" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_TITLE"></p>

            <label class="control-label col-sm-2">{{ 'INFO' | translate }}:</label>
            <div class="col-sm-9" ng-class="{ 'has-error' : detailForm.value.$invalid && detailForm.value.$dirty }">
                <textarea class="form-control" rows="3" ng-model="detailValue" name="value"
                          placeholder="{{ 'INPUT_VALUE' | translate}}" required ng-minlength=" 1"></textarea>
            </div>
            <div class="clearfix"></div>
            <p ng-show="detailForm.value.$invalid && detailForm.value.$dirty" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_VALUE"></p>
        </div>

        <!-- Document data -->
        <div class="container" ng-show="selectedOption.Type == 'Document'">
            <div class="form-group">
                <label class="control-label">{{ 'ADD_DOCUMENT_TITLE' | translate }}</label>
            </div>
        </div>

        <!-- Photo data -->
        <div class="container" ng-show="selectedOption.Type == 'Photo'">
            <div class="form-group" ng-class="{ 'has-error' : uploaderError }">
                <label class="control-label">{{ 'ADD_DOCUMENT_PHOTO' | translate }}</label>
            </div>
            <p ng-show="uploaderError" class="help-block col-sm-offset-1" translate="ALLOWED_FORMATS"></p>
        </div>

        <div hidden ng-if="uploader">
            <input id="file" type="file" nv-file-select uploader="uploader" options="uploadOption"/><br/>
        </div>

    </form>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="addUserDetail()" translate="ADD"></button>
        <button class="btn btn-warning" type="button" ng-click="cancel()" translate="CANCEL"></button>
    </div>
</div>