﻿<div class="modal-header">
    <h3 class="modal-title" translate="DELETE_PROMT">Delete Promt</h3>
</div>
<div class="modal-body">
    <span>{{ 'CONFIRM_DELETING_DOC_MESSAGE' | translate }}{{data.Name}}?</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" translate="OK"></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="CANCEL"></button>
</div>