﻿<div class="modal-header">
    <h3 class="modal-title">{{data.title | translate }}</h3>
</div>
<div class="modal-body">
    <span>{{data.message | translate }}{{data.project.Name}}?</span>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()" translate="OK"></button>
    <button class="btn btn-warning" type="button" ng-click="cancel()" translate="CANCEL"></button>
</div>