﻿<body>
<div class=" container">
    <div class="row jumbotron">
        {{'ERROR' | translate}}
        <a href="#/" class="col-sm-offset-6 btn btn-success">
            <span>{{'GO_HOME' | translate}}</span>
        </a>
    </div>
</div>
</body>