﻿<body>
<div class="container">
    <div class="about-jumb">
        <h2 style="padding-top: 40px;" translate="ABOUT_TITLE"></h2>
    </div>
</div>
<hr/>
<div class="container  col-lg-offset-2 col-lg-8">
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 translate="SCRUM_BOARD_TEAM"></h4>
            </div>
            <div class="panel-body">
                <p translate="TEAM_DESCRIPTION"></p>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <img class="img-circle" style="height: 40px; width: 40px;" src="../../Content/artem.png">
                        <h5 style="padding-left: 10px; display: inline" translate="ARTEM_KALIKIN"></h5>
                    </img>
                </li>
                <li class="list-group-item">
                    <img class="img-circle" style="height: 40px; width: 40px;" src="../../Content/kate.PNG">
                        <h5 style="padding-left: 10px; display: inline" translate="KATE_LETAVSKA"></h5>
                    </img>
                </li>
                <li class="list-group-item">
                    <img class="img-circle" style="height: 40px; width: 40px;" src="../../Content/vlad.png">
                    <h5 style="padding-left: 10px; display: inline" translate="VLAD_YURYEV"></h5>
                    </img>
                </li>
                <li class="list-group-item">
                    <img class="img-circle" style="height: 40px; width: 40px;" src="../../Content/derep.PNG">
                        <h5 style="padding-left: 10px; display: inline" translate="DMITRY_DEREPOVSKY"></h5>
                    </img>
                </li>
                <li class="list-group-item">
                    <img class="img-circle" style="height: 40px; width: 40px;" src="../../Content/zem.PNG">
                        <h5 style="padding-left: 10px; display: inline" translate="DMITRY_ZEMLJAK"></h5>
                    </img>
                </li>
                <li class="list-group-item">
                    <img class="img-circle" style="height: 40px; width: 40px;" src="../../Content/vlad.png">
                        <h5 style="padding-left: 10px; display: inline" translate="STAS_SILIN"></h5>
                    </img>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>