﻿<body>
<div class="container">
    <div class="row jumbotron" translate="">
        Users
    </div>
    <div class="row">
        <div class="row">
            <div class="row form-group">
                <div class="col-md-4">
                    <input type="search" ng-model="searchInput" ng-change="search(searchInput)" class="form-control" placeholder="{{ 'USER_NAME_OR_EMAIL_SEARCH' | translate}}" aria-describedby="basic-addon2">
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th translate="PHOTO"></th>
                    <th translate="EMAIL"></th>
                    <th translate="NAME"></th>
                </tr>
                <tr class="links-pointer" ng-repeat="user in users" ng-click="goToUser(user.Id)">
                    <td>
                        <img class="img-circle img-responsive col-sm-2" ng-src="{{user.Photo}}" />
                    </td>
                    <td>{{user.Email}}</td>
                    <td>{{user.FirstName + " " + user.LastName}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>