﻿<body>
<div class="container">
    <div class="row jumbotron">
        <div class="row">
            <h3>{{projectName}}</h3>
        </div>
        <hr/>
        <div>
            <div class="form-group row">
                <label class="control-label col-sm-2">{{'TEAMMATE' | translate}}:</label>
                <div class="col-sm-4">
                    <select class="form-control"
                            ng-model="models.selectTeammate"
                            ng-options="t.Name for t in models.teammates">
                    </select>
                </div>
                <label class="control-label col-sm-2">{{'SPRINT' | translate}}:</label>
                <div class="col-sm-4">
                    <select class="form-control"
                            ng-model="models.selectSprint"
                            ng-options="s.Name for s in models.sprints"></select>
                </div>
            </div>
            <div class="col-sm-12 taskColumn row">
                <div class="col-sm-3" ng-repeat="group in models.groupTasks">
                    <label>{{group.Label | translate}}</label>
                    <div dnd-list="group.Items">
                        <div ng-show="((models.selectTeammate.Id == task.Teammate.Id) 
                             || (models.selectTeammate.Id == models.SELECT_ALL) 
                             || (models.selectTeammate.Id ==  models.NOT_ASSIGNED && !task.Teammate))
                             && (models.selectSprint.Id ==  task.Sprint.Id
                             || (models.selectSprint.Id ==  models.WITHOUT_SPRINT && !task.Sprint))"
                             ng-repeat="task in group.Items| filter: status"
                             dnd-draggable="task"
                             dnd-moved="group.Items.splice($index, 1)"
                             dnd-dragend="changeTaskStatus(task,group)"
                             dnd-selected="models.selected = task"
                             class="{{group.Class}}">
                            <a class="links-pointer" ng-click="goToTask(task.Id)">{{ task.Name }}</a>
                            <a class="links-pointer" ng-click="goToUser(task.Teammate.MemberId)">{{ task.Teammate.Name ? task.Teammate.Name : 'NOT_ASSIGNED' | translate }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>