﻿<body>
    <div class="container">
        <h1 style="padding-top: 40px" translate="CHANGE_PASSWORD"></h1>
    </div>
    <hr />

    <form class="form-horizontal" role="form" name="changePassword" novalidate>

        <div class="form-group" ng-class="{ 'has-error' : changePassword.oldPassword.$invalid && !changePassword.oldPassword.$pristine }">
            <label class="control-label col-sm-4">{{'OLD_PASSWORD' | translate}}:</label>
            <div class="col-sm-4">
                <input ng-minlength="6" type="password" class="form-control" ng-model="oldPassword" name="oldPassword" required placeholder="{{'OLD_PASSWORD' | translate}}">
                <p ng-show="changePassword.oldPassword.$invalid && !changePassword.oldPassword.$pristine" class="help-block"
                   translate="ENTER_CORRECT_PASSWORD"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : changePassword.password.$invalid && !changePassword.password.$pristine }">
            <label class="control-label col-sm-4">{{'PASSWORD' | translate}}:</label>
            <div class="col-sm-4">
                <input ng-minlength="6" type="password" class="form-control" ng-model="password" name="password" required placeholder="{{'PASSWORD' | translate}}">
                <p ng-show="changePassword.password.$invalid && !changePassword.password.$pristine" class="help-block"
                   translate="ENTER_CORRECT_PASSWORD"></p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : !passwordEquales()}">
            <label class="control-label col-sm-4">{{'CONFIRM_PASSWORD' | translate}}:</label>
            <div class="col-sm-4">
                <input ng-minlength="6" type="password" class="form-control" ng-model="confirmPassword" name="confirmPassword" required placeholder="{{'CONFIRM_PASSWORD' | translate}}">
                <p ng-show="!passwordEquales()" class="help-block" translate="PASSWORDS_MUST_MATCH"></p>
            </div>
        </div>

        <div class="form-group" ng-show="message">
            <div class="col-sm-offset-4 col-sm-4">
                <label class="red">
                    {{message}}
                </label>
            </div>
        </div>
        <div>
            <div class="col-sm-offset-6 col-sm-4 btn-group">
                <input type="button" class="btn btn-primary" ng-disabled="changePassword.$invalid || !passwordEquales()" ng-click="change()" value="{{'SEND' | translate}}">
            </div>
        </div>
    </form>
</body>