﻿<body>
<div class="container">
    <h1 style="padding-top: 40px" translate="CREATE_TASK"></h1>
</div>
<hr/>
    <form class="form-horizontal col-sm-12" role="form" name="CreateTask">
        <div class="form-group" ng-class="{ 'has-error' : CreateTask.taskName.$invalid && CreateTask.taskName.$dirty}" novalidate>
            <label class="control-label col-sm-4" translate="NAME"></label>
            <div class="col-sm-4">
                <input type="text" ng-minlength="2" ng-maxlength="255" class="form-control" ng-model="task.Name" name="taskName" pattern="^([A-Za-z]+)|([А-Яа-я]+)$" required placeholder="{{'ENTER_NAME' | translate }}">
                <p ng-show="CreateTask.taskName.$invalid && CreateTask.taskName.$dirty" class="help-block">
                    <span ng-show="CreateTask.taskName.$error.required" translate="NAME_IS_REQUIRED"></span>
                    <span ng-show="CreateTask.taskName.$error.pattern" translate="ENTER_A_VALID_NAME"></span>
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateTask.type.$invalid && CreateTask.type.$dirty}" novalidate>
            <label class="control-label col-sm-4" translate="TASK_TYPE"></label>
            <div class="col-sm-4">
                <span>
                    <select ng-show="!isFeature" ng-options="option.Type for option in types track by option.Type"
                            ng-model="task.Type"
                            class="form-control"></select>
                    <select ng-show="isFeature" class="form-control" disabled>
                        <option selected>Feature</option>
                    </select>
                </span>
                <p ng-show="CreateTask.type.$invalid && CreateTask.type.$dirty" class="help-block">
                    <span ng-show="CreateTask.taskName.$error.required" translate="SELECT_TASK_TYPE"></span>
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateTask.estimate.$invalid && CreateTask.estimate.$dirty}" novalidate>
            <label class="control-label col-sm-4" translate="HOURS_PER_TASK"></label>
            <div class="col-sm-4">
                <input type="number" class="form-control" ng-model="task.OriginalEstimate" pattern="^([0-9]+)$" name="estimate" min="0" required placeholder="{{ 'ENTER_TIME' | translate }}">
                <p ng-show="CreateTask.estimate.$invalid && CreateTask.estimate.$dirty" class="help-block">
                    <span ng-show="CreateTask.estimate.$error.required" translate="TIME_IS_REQUIRED"></span>
                    <span ng-show="CreateTask.estimate.$error.pattern" translate="ENTER_A_VALID_TIME"></span>
                </p>
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : CreateTask.description.$invalid && CreateTask.description.$dirty}" novalidate>
            <label class="control-label col-sm-4" translate="DESCRIPTION"></label>
            <div class="col-sm-4">
                <textarea class="form-control ng-pristine ng-invalid ng-invalid-required ng-touched" required="" placeholder="{{'ENTER_TASK_DESCRIPTION' | translate}}" ng-model="task.Description" name="description"></textarea>
                <p ng-show="CreateTask.description.$invalid && CreateTask.description.$dirty" class="help-block">
                    <span ng-show="CreateTask.description.$error.required" translate="DESCRIPTION_IS_REQUIRED"></span>
                </p>
                <div>
                </div>
            </div>
        </div>
        <div class="col-sm-offset-6 col-sm-4 btn-group">
            <input type="button" class="btn btn-primary" ng-disabled="CreateTask.taskName.$invalid || CreateTask.estimate.$invalid || CreateTask.description.$invalid" ng-click="createTask()" value="{{ 'CREATE_TASK'| translate }}">
            <input type="button" class="btn btn-default" ng-click="cancel()" value="{{ 'CANCEL'| translate }}">
        </div>
    </form>
</body>