﻿<body>
<div class="container">
    <h1 style="padding-top: 40px" translate="CREATE_PROJECT"></h1>
</div>
<hr/>
<div class="container">
    <form novalidate name="createProjectForm" class="form-horizontal" role="form">
        <div class="form-group" ng-class="{ 'has-error' : createProjectForm.name.$error.required && (createProjectForm.$submitted || createProjectForm.name.$touched) }">
            <label class="control-label col-sm-4" translate="NAME"></label>
            <div class="col-sm-4 control-group">
                <input type="text" class="form-control" ng-model="name" name="name" placeholder="{{ 'INPUT_PROJECT_NAME' | translate}}" required>
                <p ng-show="createProjectForm.name.$error.required && (createProjectForm.$submitted || createProjectForm.name.$touched)" class="help-block" translate="INPUT_PROJECT_NAME"></p>
            </div>
            <br/>

        </div>
        <div class="form-group" ng-class="{ 'has-error' : createProjectForm.description.$error.required && (createProjectForm.$submitted || createProjectForm.description.$touched) }">
            <label class="control-label col-sm-4" translate="DESCRIPTION"></label>
            <div class="col-sm-4">
                <textarea class="form-control " ng-model="description" name="description" placeholder="{{ 'INPUT_PROJECT_DESCRIPTION' | translate}}" required/>
                <p ng-show="createProjectForm.description.$error.required && (createProjectForm.$submitted || createProjectForm.description.$touched)" class="help-block" translate="INPUT_PROJECT_DESCRIPTION"></p>
            </div>
        </div>
        <hr/>
        <div>
            <div class="col-sm-offset-6 btn-group">
                <div class="btn btn-primary" ng-disabled="createProjectForm.name.$error.required || createProjectForm.description.$error.required" ng-click="createProject()" translate="CREATE"></div>
                <div class="btn btn-default" ng-click="cancel()" translate="CANCEL"></div>
            </div>
        </div>
    </form>
</div>
</body>