﻿<body>
    <div class="container">
        <h1 style="padding-top: 40px" translate="CREATE_SPRINT"></h1>
    </div>
    <hr />
    <form class="form-horizontal col-sm-12" role="form" name="CreateSprint">
        <div class="form-group" ng-class="{ 'has-error' : CreateSprint.sprintName.$invalid && CreateSprint.sprintName.$dirty}" novalidate>
            <label class="control-label col-sm-4" translate="NAME"></label>
            <div class="col-sm-4">
                <input type="text" ng-minlength="6" class="form-control" ng-model="name" name="sprintName"  required placeholder="{{ 'INPUT_NAME' | translate}}">
                <p ng-show="CreateSprint.sprintName.$invalid && CreateSprint.sprintName.$dirty" class="help-block">
                    <span ng-show="CreateSprint.sprintName.$error.required" translate="NAME_IS_REQUIRED"></span>
                    <span ng-show="CreateSprint.sprintName.$error.pattern" translate="ENTER_A_VALID_NAME"></span>
                </p>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-4" translate="SPRINT_RANGE"></label>
            <div class="col-sm-4" id="sprintDate">

                <div class="input-daterange input-group" id="datepicker">
                    <input type="text" class="input-sm form-control" name="start" ng-model="startDate" required placeholder=" {{ 'INPUT_ENTER_START_DATE' | translate}} " />
                    <span class="input-group-addon">{{ 'TO' | translate}}</span>
                    <input type="text" class="input-sm form-control" name="end" ng-model="endDate" required placeholder="{{ 'INPUT_ENTER_END_DATE' | translate}}" />
                </div>
            </div>
        </div>
        <div>
            <div class="col-sm-offset-6 col-sm-4 btn-group">
                <input type="button" class="btn btn-primary" ng-disabled="CreateSprint.sprintName.$invalid || CreateSprint.end.$invalid || !dateEquales()" ng-click="createSprint()" value="{{ 'CREATE_SPRINT'| translate }}">
                <input type="button" class="btn btn-default" ng-click="cancel()" value="{{ 'CANCEL'| translate }}">
            </div>
        </div>
    </form>
    <script>
        $('#sprintDate .input-daterange').datepicker({
            startDate: "now",
            clearBtn: true,
            orientation: "top auto"
        });
    </script>
</body>