﻿<body>
<div class="container">
    <h1 style="padding-top: 40px" translate="FORGOT_PASSWORD"></h1>
</div>
<hr/>

<form class="form-horizontal" role="form" name="forgotPass" ng-controller="forgotPasswordController" novalidate>

    <div class="form-group" ng-class="{ 'has-error' : forgotPass.email.$invalid && !forgotPass.email.$pristine }">
        <label class="control-label col-sm-4" translate="EMAIL"></label>
        <div class="col-sm-4">
            <input type="email" class="form-control" ng-model="email" name="email" required placeholder="Email">
            <p ng-show="forgotPass.email.$invalid && !forgotPass.email.$pristine"
               class="help-block" translate="ENTER_EMAIL_VALID"></p>
        </div>
    </div>
    <div class="form-group" ng-show="message">
        <div class="col-sm-offset-4 col-sm-4">
            <label class="red">
                {{message}}
            </label>
        </div>
    </div>
    <div>
        <div class="col-sm-offset-6 col-sm-4 btn-group">
            <input type="button" class="btn btn-primary" ng-disabled="forgotPass.$invalid" ng-click="sendLetter(forgotPass)" value="{{'SEND' | translate}}">
        </div>
    </div>
</form>
</body>