﻿<body>
<div id="carousel" class="carousel slide">
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../../Content/carusel1.jpg" alt="">

            <div class="carousel-caption">
                <h1 translate="MAIN_PAGE_CARUSEL_ITEM_HEADER_1"></h1>
                <p class="lead" translate="MAIN_PAGE_CARUSEL_ITEM_BODY_1"></p>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/carusel2.jpg" alt="">
            <div class="carousel-caption">
                <h1 translate="MAIN_PAGE_CARUSEL_ITEM_HEADER_2"></h1>
                <p class="lead" translate="MAIN_PAGE_CARUSEL_ITEM_BODY_2"></p>
                <a class="btn btn-large btn-primary" href="#/Registration" >{{ 'MAIN_PAGE_CARUSEL_ITEM_BUTTON_2' | translate}}</a>
            </div>
        </div>
        <div class="item">
            <img src="../../Content/carusel3.jpg" alt="">
            <div class="carousel-caption">
                <h1 translate="MAIN_PAGE_CARUSEL_ITEM_HEADER_3"></h1>
                <p class="lead" translate="MAIN_PAGE_CARUSEL_ITEM_BODY_3"></p>
                <a class="btn btn-large btn-primary" href="#/About" >{{ 'MAIN_PAGE_CARUSEL_ITEM_BUTTON_3' | translate}}</a>
            </div>
        </div>

    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
</body>