﻿<body>
<div class="container">
    <h1 style="padding-top: 40px" translate="LOGIN"></h1>
    <span style="color: red;" class="control-label col-sm-4">{{loginResult}}</span>

</div>
<hr/>

<form class="form-horizontal col-sm-12" role="form" name="loginForm" ng-controller="LoginController" novalidate>

    <div class="form-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
        <label class="control-label col-sm-4" translate="EMAIL"></label>
        <div class="col-sm-4">
            <input type="email" class="form-control" ng-model="email" name="email" required placeholder="Email">
            <p ng-show="loginForm.email.$invalid && !loginForm.email.$pristine" class="help-block" translate="ENTER_EMAIL_INVALID"></p>
        </div>
    </div>

    <div class="form-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
        <label class="control-label col-sm-4" translate="PASSWORD"></label>
        <div class="col-sm-4">
            <input ng-minlength="6" type="password" class="form-control" ng-model="password" name="password" required placeholder="Password">
            <p ng-show="loginForm.password.$invalid && !loginForm.password.$pristine" class="help-block" translate="ENTER_PASSWORD_INVALID"></p>
        </div>
    </div>

    <div class="form-group" ng-show="message">
        <div class="col-sm-offset-4 col-sm-4">
            <label class="red">
                {{message}}
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-4">
            <a class="links-pointer ng-scope" ng-click="toForgotPassword()">Forgot Password</a>
        </div>
    </div>
   
    <div>
        <div class="col-sm-offset-6 col-sm-4 btn-group">
            <input type="button" class="btn btn-primary" ng-disabled="loginForm.$invalid" ng-click="login(loginForm)" value="{{'SIGN_IN' | translate}}">
        </div>
    </div>
</form>
</body>