﻿<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">
                Scrum Board
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/">Home</a>
                </li>
                <li>
                    <a href="#About">About</a>
                </li>
            </ul>
            <div class=" navbar-btn btn-group navbar-right">
                <button type="button" class="btn btn-danger">Login</button>
                <button type="button" class="btn btn-danger">Register</button>
            </div>
        </div>
    </div>
</div>