﻿<div ng-controller="projectInfoController">

    <div class="form-group">
        <label class="col-md-2">{{'DESCRIPTION' | translate}}</label>
        <div class="col-sm-8" ng-show="!EditMode">
            <p class="description-body control-label-left">{{project.Description}}</p>
        </div>
        <div class="col-sm-12" ng-show="EditMode">
            <textarea class="form-control" ng-model="project.Description"></textarea>
        </div>
    </div>
    <div ng-show="project.IsOwner || user.IsAdmin">
        <div class="btn-group col-sm-offset-8" ng-show="EditMode">
            <input type="button" class="btn btn-primary" ng-click="SaveChanges()" value="{{'SAVE_CHANGES' | translate}}">
            <input type="button" class="btn btn-primary" ng-click="Cancel()" value="{{'CANCEL' | translate}}">
        </div>
        <div class="btn-group col-sm-offset-8 " ng-show="!EditMode">
            <input type="button" class="btn btn-primary" ng-click="openModal('sm')" value="{{'DELETE' | translate}}">
            <input type="button" class="btn btn-primary" ng-click="EditModeOn()" value="{{'EDIT' | translate}}">
        </div>
    </div>
</div>