﻿<div class="container">
    <div class="row jumbotron">
        <h2>{{ 'PROJECTS' | translate }}</h2>
    </div>
    <div class="row">
        <div class="row">
            <div class="row form-group">
                <div class="col-md-4">
                    <input type="search" ng-model="searchInput" ng-change="search(searchInput)" class="form-control" placeholder="{{ 'PROJECT_NAME_SEARCH' | translate}}" aria-describedby="basic-addon2">
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <button class="btn btn-default" type="button" ng-click="addProject()" translate="ADD_PROJECT"></button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th translate="NAME"></th>
                    <th></th>
                </tr>
                <tr class="links-pointer" ng-repeat="project in projectPreview">
                    <td ng-click="openProject(project.Id)" sort-by="project.Name">{{project.Name}}</td>
                    <td>
                        <span href=""
                              class="restore-a right glyphicon glyphicon-open green"
                              ng-click="openModal('sm',restoreMessage,project)"
                              ng-show="project.IsDeleted && user.IsAdmin">
                              </span>
                        <span href="" 
                              class="delete-a right glyphicon glyphicon-remove" 
                              ng-click="openModal('sm',deleteMessage, project)"
                              ng-show="(project.IsOwner || user.IsAdmin) && !project.IsDeleted" ></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>