﻿<div class="container-fluid" ng-controller="projectTeamController as team">
    <div class="row">
        <div class="row">
            <div class="row form-group">
                <div class="col-md-4">
                    <input type="search" ng-model="searchInput" ng-change="search(searchInput)" class="form-control" placeholder="{{ 'MEMBER_NAME_SEARCH' | translate }}" aria-describedby="basic-addon2">
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <button ng-show="project.IsOwner || user.IsAdmin" ng-click="openModal()" class="btn btn-default" type="button" translate="ADD_MEMBER"></button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th translate="MEMBER_NAME"></th>
                    <th translate="ROLE"></th>
                    <th></th>
                </tr>
                <tr class="links-pointer" ng-repeat="teammate in teammatePreview">
                    <td ng-click="goToUser(teammate.MemberId)">{{teammate.Name}}</td>
                    <td ng-click="goToUser(teammate.MemberId)">{{teammate.Role}}</td>
                    <td >
                        <span href="" 
                              ng-show="teammate.Role != 'Project Owner' && (project.IsOwner || user.IsAdmin)"
                              ng-click="deleteMember(teammate.Id)" 
                              class="delete-a right glyphicon glyphicon-remove" ></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>