﻿<div class="container-fluid" ng-controller="projectSprintsController as sprints">
    <div class="row">
        <div class="row">
            <div class="row form-group">
                <div class="col-md-4">
                    <input type="search" ng-model="searchInput" ng-change="search(searchInput)" class="form-control" placeholder="{{ 'SPRINT_NAME_SEARCH' | translate }}" aria-describedby="basic-addon2">
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <button  ng-show="project.IsOwner || user.IsAdmin" ng-click="addNew()" class="btn btn-default" type="button" translate="ADD_SPRINT"></button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th translate="NAME"></th>
                    <th translate="START_DATE"></th>
                    <th translate="END_DATE"></th>
                    <th translate="SPRINT_STATUS"></th>
                    <th></th>
                </tr>
                <tr ng-repeat="sprint in sprintPreview">
                    <td ng-click="goToBoard(sprint.Id)" class="links-pointer">{{sprint.Name}}</td>
                    <td>{{sprint.StartDate | date }}</td>
                    <td>{{sprint.EndDate | date }}</td>
                    <td>{{sprint.Status}}</td>
                    <td>
                        <span href="" ng-show="sprint.Status == 'Future' && (project.IsOwner || user.IsAdmin)" ng-click="deleteSprint(sprint.Id)" class="links-pointer delete-a right glyphicon glyphicon-remove"></span></td>
                </tr>
            </table>
        </div>
    </div>
</div>