﻿<body>
<div class="container">
    <h1 style="padding-top: 40px" translate="REGISTRATION"></h1>

    <span class="red" class="control-label col-sm-4">{{registerResult.Message}}</span>
   
</div>
<hr/>
    <form ng-submit="registration()" class="form-horizontal col-sm-12" role="form" name="registrationForm" novalidate>
        <div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
            <label class="control-label col-sm-4">{{'EMAIL' | translate}}:</label>
            <div class="col-sm-4">
                <input type="email" class="form-control" ng-model="email" name="email" required placeholder="{{'EMAIL' | translate}}">
                <p ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine" class="help-block" translate="ENTER_VALID_EMAIL"></p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine }">
            <label class="control-label col-sm-4">{{'PASSWORD' | translate}}:</label>
            <div class="col-sm-4">
                <input ng-minlength="6" type="password" class="form-control" ng-model="password" name="password" required placeholder="{{'PASSWORD' | translate}}">
                <p ng-show="registrationForm.password.$invalid && !registrationForm.password.$pristine" class="help-block"
                   translate="ENTER_CORRECT_PASSWORD"></p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : !passwordEquales()}">
            <label class="control-label col-sm-4">{{'CONFIRM_PASSWORD' | translate}}:</label>
            <div class="col-sm-4">
                <input ng-minlength="6" type="password" class="form-control" ng-model="confirmPassword" name="confirmPassword" required placeholder="{{'CONFIRM_PASSWORD' | translate}}">
                <p ng-show="!passwordEquales()" class="help-block" translate="PASSWORDS_MUST_MATCH"></p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine }">
            <label class="control-label col-sm-4" translate="FIRST_NAME"></label>
            <div class="col-sm-4">
                <input type="text" name="firstName" class="form-control" ng-model="firstName" required placeholder="{{'FIRST_NAME' | translate}}">
                <p ng-show="registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine" class="help-block"
                   translate="FIRSTNAME_IS_REQUIRED"></p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registrationForm.secondName.$invalid && !registrationForm.secondName.$pristine }">
            <label class="control-label col-sm-4" translate="SECOND_NAME"></label>
            <div class="col-sm-4">
                <input type="text" name="secondName" class="form-control" ng-model="secondName" required placeholder="{{'SECOND_NAME' | translate}}">
                <p ng-show="registrationForm.secondName.$invalid && !registrationForm.secondName.$pristine" class="help-block" translate="SECONDNAME_IS_REQUIRED"></p>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : registrationForm.phone.$invalid && !registrationForm.phone.$pristine }">
            <label class="control-label col-sm-4">{{'PHONE' | translate}}:</label>
            <div class="col-sm-4">
                <input type="tel" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required class="form-control" ng-model="phone" placeholder="{{'PHONE' | translate}}" name="phone">
                <p ng-show="registrationForm.phone.$invalid && !registrationForm.phone.$pristine" class="help-block" translate="PHONE_INCORRECT">.</p>
            </div>
        </div>
        <div class="form-group">
            <div class="control-label col-lg-offset-2 red" ng-repeat="result in registerResult">{{result}}</div>
        </div>

        <div>
            <div class="col-sm-offset-6 col-sm-4 btn-group">
                <input type="submit" ng-disabled="registrationForm.$invalid || !passwordEquales()" class="btn btn-primary" value="{{'REGISTER' | translate}}">
            </div>
        </div>


    </form>
</body>