﻿<div class="container-fluid" ng-controller="taskDocumentsController as documents">
    <div class="row">
        <div class="row">
            <div class="row form-group">
                <div class="col-md-4">
                    <input type="search" ng-model="searchInput" ng-change="search(searchInput)" class="form-control" placeholder="{{ 'DOCUMENT_NAME_SEARCH' | translate }}" aria-describedby="basic-addon2">
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <div class="form-group">
                        <div class="btn btn-default" ng-click="addDocument()" translate="ADD_DOCUMENT"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <tr>
                    <th translate="NAME"></th>
                    <th></th>
                    <th></th>
                </tr>
                <tr ng-repeat="document in documentPreview">
                    <td>{{document.Name}}</td>
                    <td>
                        <span href="" class="links-pointer download-a right glyphicon glyphicon-download" ng-click="downloadFile(document.Id)"></span></td>
                    <td>
                        <span href="" class="links-pointer delete-a right glyphicon glyphicon-remove" ng-click="deleteDocument(document)"></span></td>
                </tr>
            </table>
        </div>
    </div>
    <div hidden>
        <input id="file" type="file" nv-file-select uploader="uploader"/><br/>
    </div>
</div>