﻿<div class="container-fluid" ng-controller="taskCommentsController as comments">
    <div class="row">
        <div class="row">
            <div class="comment-container" ng-repeat="comment in comments">
                <div class="author-name links-pointer" ng-click="goToUser(comment.UserId)">{{comment.UserName}}</div>
                <div style="clear: both"></div>
                <div class="comment-body">{{comment.Text}}</div>
                <div class="comment-time">{{comment.Time | date: 'medium'}}</div>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="row">
            <textarea name="commentField" class="col-md-10 form-control" ng-model="text" placeholder="{{ 'ENTER_COMMENT' | translate }}" required></textarea>
            <input class="col-sm-2 col-sm-offset-10 btn btn-primary" ng-click="addComment()" type="button" value="{{ 'SEND' | translate }}"/>
        </div>
    </div>
</div>