﻿<div class="container-fluid" ng-controller="taskSubtaskController as subtasks">
    <div class="row">
        <div class="row">
            <div class="row form-group">
                <div class="col-md-4">
                    <input type="search" ng-model="searchInput" ng-change="search(searchInput)" class="form-control" placeholder="{{ 'TASK_NAME_OR_ID_SEARCH' | translate }}" aria-describedby="basic-addon2">
                </div>
                <div class="col-md-2 col-md-offset-6">
                    <button ng-click="addSubtask(taskId)" ng-disabled="task.ParentId != 0" class="btn btn-default" type="button" translate="ADD_SUBTASK"></button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th translate="TASK_NAME"></th>
                    <th translate="TASK_TYPE"></th>
                    <th translate="TASK_STATUS"></th>
                    <th translate="ORIGINAL_ESTIMATE"></th>
                    <th translate="REMAINING"></th>
                    <th translate="COMPLETED"></th>
                    <th translate="ASSIGNED_TO"></th>
                    <th></th>
                </tr>
                <tr class="links-pointer" ng-repeat="task in tasksPreview">
                    <td ng-click="goToTask(task.Id)">{{task.Id}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.Name}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.Type.Type}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.Status.Status}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.OriginalEstimate}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.Remaining}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.Completed}}</td>
                    <td ng-click="goToTask(task.Id)">{{task.Teammate == null ? "Not assigned" : task.Teammate.Name}}</td>
                    <td ng-click="deleteTask(task.Id)"><span href="" class="links-pointer delete-a right glyphicon glyphicon-remove"></span>
                </tr>
            </table>
        </div>
    </div>
</div>