﻿<body>
<div class="main-content" ng-controller="taskInfoController as controller">
    <div class="content">

        <form class="form-horizontal" name="taskForm" role="form" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'TYPE' | translate }}:</label>
                <div class="col-sm-8" ng-show="!editMode">
                    <label class="control-label">{{task.Type.Type}}</label>
                </div>
                <div class="col-sm-8" ng-show="editMode">
                    <select disabled="disabled" class="form-control">
                        <option>{{task.Type.Type}}</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'STATUS' | translate }}:</label>
                <div class="col-sm-8" ng-show="!editMode">
                    <label class="control-label">{{task.Status.Status}}</label>
                </div>
                <div class="col-sm-8" ng-show="editMode">
                    <select ng-options="option.Status for option in statuses track by option.Id"
                            ng-model="task.Status"
                            class="form-control"></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'SPRINT' | translate }}:</label>
                <div class="col-sm-8 break-word" ng-show="!editMode">
                    <span>{{task.Sprint.Name}}</span>
                </div>

                <div class="col-sm-8" ng-show="editMode" ng-class="{ 'has-error' : taskForm.sprint.$invalid }">
                    <input type="text" class="form-control " ng-model="task.Sprint.Name" ng-blur="focusOut()" name="sprint" ng-focus="focusOnSprint()"
                           ng-change="searchSprint(task.Sprint.Name)" placeholder="Enter sprint name" required ng-minlength="1">
                    <div style="position: absolute; z-index: 10; padding-left: 0; padding-right: 30px" class="col-sm-12">
                        <ul class="list-group" ng-show="showSprintSearch">
                            <li class="list-group-item" ng-repeat="sprint in sprintPreview" ng-mousedown="chooseSprint(sprint.Id)">
                                <span>{{sprint.Name}}</span>
                            </li>
                        </ul>
                    </div>
                    <p ng-show="taskForm.sprint.$invalid" class="help-block" translate="ENTER_INCORRECT_SPRINT"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ORIGINAL_ESTIMATE' | translate }}:</label>
                <div class="col-sm-8" ng-show="!editMode">
                    <label class="control-label">{{task.OriginalEstimate}}</label>
                </div>
                <div class="col-sm-8" ng-show="editMode">
                    <input type="number" name="originalEstimate" class="form-control" ng-model="task.OriginalEstimate" required min="0"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'REMAINING' | translate }}:</label>
                <div class="col-sm-8" ng-show="!editMode">
                    <label class="control-label">{{task.Remaining}}</label>
                </div>
                <div class="col-sm-8" ng-show="editMode">
                    <input type="number" class="form-control" ng-model="task.Remaining" required min="0"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'COMPLETED' | translate }}:</label>
                <div class="col-sm-3" ng-show="!editMode">
                    <label class="control-label">{{task.Completed}}</label>
                </div>
                <div class="col-sm-8" ng-show="editMode">
                    <input type="number" class="form-control" ng-model="task.Completed" required min="0"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'ASSIGNED_TO' | translate }}:</label>
                <div class="col-sm-3" ng-show="!editMode">
                    <label class="control-label">{{task.Teammate.Name}}</label>
                </div>
                <div class="col-sm-8" ng-show="editMode" ng-class="{ 'has-error' : taskForm.teammate.$invalid }">
                    <input type="text" class="form-control " ng-model="task.Teammate.Name" ng-blur="focusOut()" ng-focus="focusOnTeammate()" name="teammate"
                           ng-change="searchTeammate(task.Teammate.Name)" placeholder="Enter teammate email" required ng-minlength="1">
                    <div style="position: absolute; z-index: 10; padding-left: 0; padding-right: 30px" class="col-sm-12">
                        <ul class="list-group" ng-show="showTeammateSearch">
                            <li class="list-group-item" ng-repeat="teammate in teammatePreview" ng-mousedown="chooseTeammate(teammate.Id)">
                                <span>{{teammate.Name + ' (' + teammate.Role + ')'}}</span>
                            </li>
                        </ul>
                    </div>
                    <p ng-show="taskForm.teammate.$invalid" class="help-block" translate="ENTER_INCORRECT_TEAMMATE"></p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-sm-3">{{ 'DESCRIPTION' | translate }}:</label>
                <div class="col-sm-8 break-word" ng-show="!editMode">
                    <span>{{task.Description}}</span>
                </div>
                <div class="col-sm-8" ng-show="editMode">
                    <textarea rows="6" class="form-control" ng-model="task.Description"></textarea>
                </div>
            </div>

            <div>
                <div class="btn-group col-sm-offset-9" ng-show="editMode">
                    <input type="button" class="btn btn-primary" ng-disabled="taskForm.$invalid" ng-click="updateTask()" value="{{'SAVE_CHANGES' | translate}}">
                    <input type="button" class="btn btn-primary" ng-click="switchEditMode()" value="{{'CANCEL' | translate}}">
                </div>
                <div class="btn-group col-sm-offset-6 col-sm-6" ng-show="!editMode">
                    <input type="button" class="btn btn-primary" ng-click="switchEditMode()" value="{{'EDIT' | translate}}">
                    <input type="button" class="btn btn-primary" ng-click="assignTask()" value="{{'ASSIGN_TO_ME' | translate}}">
                    <input type="button" class="btn btn-primary" ng-click="toBoard(task.ProjectId)" value="{{'TO_BOARD' | translate}}">
                </div>
            </div>
        </form>
    </div>
</div>
</body>