﻿<body>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-md-2" style="padding-top: 50px;">
            <ul class="nav nav-sidebar">
                <li class="links-pointer" ng-repeat="page in pages" ng-click="setCurrentPage(page)"
                    ng-class="{ 'active': isSelected(page) }">
                    <a href="">{{ page.name.toUpperCase() | translate }}</a>
                </li>
                <li ng-click="backToProject()">
                    <a href="#">{{ TO_BACKLOG | translate }}</a>
                </li>
            </ul>
        </div>
    </div>
    <h1 class="page-header col-md-offset-3">{{task.Name}}</h1>
    <div class="col-md-8 col-md-offset-3 main">
        <div class="content" ng-include="currentPage.url"></div>
    </div>
</div>
</body>