﻿<body>
<div class="user-container container-fluid col-lg-offset-2 col-lg-8 col-sm-8">

    <form class="form-horizontal" name="userForm" role="form" novalidate>
        <div class="row">
            <div id="image" class="col-sm-3 left" ng-class="{ 'profile-img-container' : editMode }">
                <img class="img-circle img-responsive col-sm-offset-1 col-sm-10" ng-src="{{user.Photo}}" alt="" />
                <a ng-show="editMode" id="upload-image" ng-click="uploadPhoto()">
                    <i class="fa fa-upload fa-4x"></i>
                </a>
            </div>

            <!-- User info in view mode -->
            <div class="form-group col-sm-offset-3 col-sm-9" ng-show="!editMode">
                <div class="col-sm-8">
                    <label class="control-label">{{user.LastName + ' ' + user.FirstName}}</label>
                </div>

                <div class="col-sm-8">
                    <label class="control-label">{{ 'EMAIL' | translate }}:</label>
                    <label class="control-label">{{user.Email}}</label>
                </div>

                <div class="col-sm-8">
                    <label class="control-label">{{ 'PHONE' | translate }}:</label>
                    <label class="control-label">{{user.Phone}}</label>
                </div>

                <div class="col-sm-8" ng-repeat="detail in user.Details | filter:filterTextInfo">
                    <label class="control-label">{{detail.Name}}:</label>
                    <label class="control-label">{{detail.Value}}</label>
                </div>

                <div class="clearfix"></div>
                <div class="row image-row">
                    <div class="col-sm-2" ng-repeat="detail in user.Details | filter:filterPhotoInfo" ng-show="showPhotoRow">
                        <img class="img-circle image-preview" ng-src="{{detail.Value}}" alt="" />
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="table-responsive col-sm-11" ng-show="showDocumentRow">
                    <table class="table table-striped">
                        <tr>
                            <th translate="NAME"></th>
                        </tr>
                        <tr ng-repeat="document in user.Details | filter:filterDocumentInfo">
                            <td>{{document.Name}}</td>
                        </tr>
                    </table>
                </div>


            </div>

            <!-- User info editing in edit mode -->
            <div class="form-group col-sm-9" ng-show="editMode">
                <div class="form-group" ng-class="{ 'has-error' : userForm.lastName.$invalid }">
                    <label class="control-label col-sm-2">{{ 'LAST_NAME' | translate }}:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="lastName" ng-model="user.LastName"
                               placeholder="{{ 'INPUT_LAST_NAME' | translate}}" required ng-minlength="1" ng-maxlength="40"/>
                    </div>
                    <div class="clearfix"></div>
                    <p ng-show="userForm.lastName.$invalid" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_LAST_NAME"></p>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.firstName.$invalid }">
                    <label class="control-label col-sm-2">{{ 'FIRST_NAME' | translate }}:</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" name="firstName" ng-model="user.FirstName"
                               placeholder="{{ 'INPUT_FIRST_NAME' | translate}}" required ng-minlength="1" ng-maxlength="40"/>
                    </div>
                    <div class="clearfix"></div>
                    <p ng-show="userForm.firstName.$invalid" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_FIRST_NAME"></p>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2">{{ 'EMAIL' | translate }}:</label>
                    <div class="col-sm-9">
                        <input type="email" class="form-control" ng-model="user.Email" disabled/>
                    </div>
                </div>

                <div class="form-group" ng-class="{ 'has-error' : userForm.phone.$invalid }">
                    <label class="control-label col-sm-2">{{ 'PHONE' | translate }}:</label>
                    <div class="col-sm-9">
                        <input type="text" pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" class="form-control" name="phone" ng-model="user.Phone"
                               placeholder="{{ 'INPUT_PHONE' | translate}}" required ng-minlength="1" ng-maxlength="20" />
                    </div>
                    <div class="clearfix"></div>
                    <p ng-show="userForm.phone.$invalid" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_PHONE"></p>
                </div>

                <div class="form-group" ng-repeat="detail in user.Details | filter:filterTextInfo">
                    <ng-form name="detailForm">
                        <div ng-class="{ 'has-error' : detailForm.detailName.$invalid || detailForm.detailValue.$invalid }">
                            <div class="col-sm-2">
                                <input type="text" class="form-control" ng-model="detail.Name" name="detailName"
                                       placeholder="{{ 'INPUT_TITLE' | translate}}" required ng-minlength="1" ng-maxlength="20"/>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ng-model="detail.Value" name="detailValue"
                                       placeholder="{{ 'INPUT_VALUE' | translate}}" required ng-minlength="1"/>
                            </div>
                            <span class="delete-a right glyphicon glyphicon-remove delete-icon" ng-click="deleteDetail(detail.Id)"></span>
                            <div class="clearfix"></div>
                            <p ng-show="detailForm.detailName.$invalid" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_TITLE"></p>
                            <div class="clearfix"></div>
                            <p ng-show="detailForm.detailValue.$invalid" class="help-block col-sm-offset-2" translate="ENTER_INCORRECT_VALUE"></p>
                        </div>
                    </ng-form>
                </div>

                <div class="clearfix"></div>
                <div class="row image-row" ng-show="showPhotoRow">
                    <div class="col-sm-2" ng-repeat="detail in user.Details | filter:filterPhotoInfo">
                        <span class="delete-a delete-image right glyphicon glyphicon-remove delete-icon" ng-click="deleteDetail(detail.Id)"></span>
                        <img class="img-circle image-preview" ng-src="{{detail.Value}}" alt=""/>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="table-responsive col-sm-11" ng-show="showDocumentRow">
                    <table class="table table-striped">
                        <tr>
                            <th translate="NAME"></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="document in user.Details | filter:filterDocumentInfo">
                            <td>{{document.Name}}</td>
                            <td>
                                <a href="" class="download-a right glyphicon glyphicon-download" ng-click="downloadFile(document.Id)"></a>
                            </td>
                            <td>
                                <a href="" class="delete-a right glyphicon glyphicon-remove" ng-click="deleteDetail(document.Id)"></a>
                            </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>


        <div class="form-group">
            <div class="col-sm-offset-10" ng-show="!editMode && canEdit">
                <input type="button" class="btn btn-primary" ng-click="switchEditMode()" value="{{'EDIT' | translate}}">
            </div>
        </div>
        <div class="form-group" ng-show="editMode">
            <div class="btn-group col-sm-offset-5">
                <input type="button" class="btn btn-danger" ng-click="toChangePassword()" value="{{'CHANGE_PASSWORD' | translate}}">
            </div>
            <div class="btn-group">
                <input type="button" class="btn btn-primary" ng-click="addDetail()" value="{{'ADD_DETAIL' | translate}}">
                <input type="button" class="btn btn-primary" ng-click="updateUser()" ng-disabled="userForm.$invalid || detailForm.$invalid" value="{{'SAVE_CHANGES' | translate}}">
                <input type="button" class="btn btn-primary" ng-click="switchEditMode()" value="{{'CANCEL' | translate}}">
            </div>
        </div>

        <div hidden ng-if="photoUploader">
            <input id="photo" type="file" nv-file-select uploader="photoUploader" />
        </div>
    </form>

</div>
</body>