﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="scrumBoardApp" >
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>Index</title>
    
    <link href="~/Content/bootstrap.css" rel="stylesheet"/>
    <link href="~/Content/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker.standalone.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datepicker3.standalone.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href='~/Content/loading-bar.min.css' rel="stylesheet" />
    
    <link href="~/Content/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/Content/ui-bootstrap-csp.css" rel="stylesheet"/>
    <link href="~/Content/MainPageStyle.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/SBAbout.css" rel="stylesheet"/>
    <link href="~/Content/dashboard.css" rel="stylesheet"/>
    <link href="~/Content/scrumBoard.css" rel="stylesheet"/>
    <link href="~/Content/custom.css" rel="stylesheet"/>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-animate.min.js"></script>
    <script src="~/Scripts/angular-cookies.js"></script>
    <script src="~/Scripts/angular-translate.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src='~/Scripts/loading-bar.min.js'></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/angular-file-upload.min.js"></script>
    <script src="~/Scripts/angular-drag-and-drop-lists.min.js"></script>
    <script src="~/Scripts/angular-local-storage.min.js"></script>
    <script src="~/Content/Scripts/App.js"></script>
    <script src="~/Content/Scripts/Language/eng.js"></script>
    <script src="~/Content/Scripts/Language/rus.js"></script>
    <script src="~/Content/Controllers/ModalAddUserDetailControler.js"></script>
    <script src="~/Content/Services/UserService.js"></script>
    <script src="~/Content/Controllers/ModalDelete.js"></script>
    <script src="~/Content/Controllers/UserController.js"></script>
    <script src="~/Content/Services/TeamService.js"></script>
    <script src="~/Content/Controllers/IndexController.js"></script>
    <script src="~/Content/Services/SprintService.js"></script>
    <script src="~/Content/Services/Authorization/authInterceptorService.js"></script>
    <script src="~/Content/Services/Authorization/authService.js"></script>
    <script src="~/Content/Services/Authorization/tokensManagerService.js"></script>
    <script src="~/Content/Services/TaskService.js"></script>
    <script src="~/Content/Services/DocumentService.js"></script>
    <script src="~/Content/Services/CommentService.js"></script>
    <script src="~/Content/Controllers/IndexController.js"></script>
    <script src="~/Content/Services/ProjectService.js"></script>
    <script src="~/Content/Controllers/RegistrationController.js"></script>
    <script src="~/Content/Controllers/AboutController.js"></script>
    <script src="~/Content/Controllers/HeaderController.js"></script>
    <script src="~/Content/Controllers/CreateTaskController.js"></script>
    <script src="~/Content/Controllers/CreateProjectController.js"></script>
    <script src="~/Content/Controllers/ProjectTeamController.js"></script>
    <script src="~/Content/Controllers/CreateSprintController.js"></script>
    <script src="~/Content/Controllers/TaskController.js"></script>
    <script src="~/Content/Controllers/TaskInfoController.js"></script>
    <script src="~/Content/Controllers/ProjectController.js"></script>
    <script src="~/Content/Controllers/ProjectBacklogController.js"></script>
    <script src="~/Content/Controllers/ProjectSprintsController.js"></script>
    <script src="~/Content/Controllers/ProjectDocumentsController.js"></script>
    <script src="~/Content/Controllers/TaskDocumentsController.js"></script>
    <script src="~/Content/Controllers/ProjectInfoController.js"></script>
    <script src="~/Content/Controllers/ModalConfirmProjectController.js"></script>
    <script src="~/Content/Controllers/ModalAddTeammateController.js"></script>
    <script src="~/Content/Controllers/LoginController.js"></script>
    <script src="~/Content/Controllers/BoardController.js"></script>
    <script src="~/Content/Controllers/ProjectListController.js"></script>
    <script src="~/Content/Controllers/TaskSubtaskController.js"></script>
    <script src="~/Content/Controllers/TaskCommentsController.js"></script>
    <script src="~/Content/Controllers/AdminUserController.js"></script>
    <script src="~/Content/Controllers/LoginWidgetController.js"></script>
    <script src="~/Content/Controllers/ForgotPasswordController.js"></script>
    <script src="~/Content/Controllers/ChangePasswordController.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="headerCtrl">

    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/">ScrumBoard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a class="links-pointer" ng-class="{ 'active' : isSelected(0) }" ng-click="toProjectList()" translate="PROJECTS"></a>
                </li>
                <li>
                    <a class="links-pointer" ng-class="{ 'active' : isSelected(1) }" ng-click="setCurrentPage(1)" translate="ABOUT"></a>
                </li>
            </ul>
            <div class="nav navbar-nav navbar-right">

                <ul class="nav navbar-nav">
                    <li ng-show="isAdminPage" class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" translate="MANAGEMENT">
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <a class="links-pointer" ng-show="isAdminPage" ng-class="{ 'active' : isSelected(0) }" ng-click="toProjectList()" translate="MANAGE_PROJECTS"></a>
                            </li>
                            <li>
                                <a class="links-pointer" ng-show="isAdminPage" ng-class="{ 'active' : isSelected(2) }" ng-click="setCurrentPage(2)" translate="MANAGE_USERS"></a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" translate="LANGUAGE">
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="">
                                <a class="links-pointer" ng-class="{ 'active' : isSelectedLang(0)}" ng-click="setLang(0)">EN</a>
                            </li>
                            <li>
                                <a class="links-pointer" ng-class="{ 'active' : isSelectedLang(1)}" ng-click="setLang(1)">RU</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="navbar-btn btn-group nav navbar-nav" ng-controller="loginWidgetController">
                            <span ng-show="!isAuth">
                                <button type="button" class="btn btn-danger" ng-click="login()" translate="LOGIN"></button>
                                <button type="button" class="btn btn-danger" ng-click="register()" translate="REGISTER"></button>
                                </span>
                            <span ng-show="isAuth">
                                    <button type="button" class="btn btn-danger" ng-click="profile()">{{userName}}</button>
                                <button type="button" class="btn btn-danger" ng-click="logOut()" translate="LOGOUT"></button>
                                </span>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</nav>
<div ng-view></div>
</body>
</html>