﻿.user-container { margin-top: 40px; }

.left { float: left; }

textarea { resize: none; }

.break-word {
    word-wrap: break-word;
    padding-top: 7px;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}

.delete-icon {
    cursor: pointer;
    float: left
}

.image-row { margin-top: 20px }

.image-preview {
    height: 100px;
    margin: 0 0 20px 0
}

.delete-image { float: right }

.profile-img-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.profile-img-container a {
    display: block;
    text-align: center;
    color: inherit;
    cursor: pointer;
}
.profile-img-container img:hover {
    opacity: 0.5
}
.profile-img-container a i {
    opacity: 1;
    top: 50%;
    left: 40%;
    position: absolute;
    transform: translateY(-50%);
}
.profile-img-container a i:hover {
    opacity: 1;
}
.image-hover {
    opacity: 0.5
}

#upload-image {
    display: none
}