﻿    .carousel .item {
      height: 744px;
    }
    .carousel img {
      top: 0;
      left: 0;
      min-width: 100%;
      height: 500px;
    }

    .carousel-caption {
      background-color: transparent;
      text-align:left;
        padding-bottom: 100px;
        position: absolute;
      
    }
    


    @media (max-width: 767px) {

      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
          text-align: left;

      }

    }