﻿.avatar-icon {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.about-jumb {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: inherit;
    background-image: url('aboutImage.jpg');
}

.container .about-jumb { border-radius: 6px; }

