.taskColumn div { text-align: center; }

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */

.taskColumn div[dnd-list] {
    min-height: 100px;
    padding-left: 0px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */

.taskColumn div[dnd-list] .dndDraggingSource { display: none; }

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */

.taskColumn div[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 100px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */

.taskColumn div[dnd-list] div {
    border: 1px solid #ddd;
    -ms-border-radius: 4px;
    border-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin: 5px;
    text-align: center;
}

/**
 * Show selected elements in green
 */

.taskColumn div[dnd-list] div.selected {
    background-color: #dff0d8;
    color: #3c763d;
}

.taskColumn div[dnd-list] a {
    font-size: 14px;
    display: block;
    color: black
}

.taskColumn div .done { background-color: #80f080; }

.taskColumn div .to_do { background-color: #ff8F8F; }

.taskColumn div .in_progress { background-color: #ffff8f; }

.taskColumn div .testing { background-color: #ff880f; }