﻿body {
    height: 100%;
    margin: 0;
    padding: 0;
    /*padding-top: 50px;*/
    /*padding-bottom: 2.5em;*/
}

.content { min-height: 100%; }

* html .content { height: 100%; }

.footer {
    height: 0px;
    margin-bottom: 0;
    margin-top: 20px;
}

.buffer {
    clear: both;
    height: 0px;
}

.list-item-overflow {
    overflow: hidden;
}

.description-body { word-wrap: break-word; }

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

textarea { margin: 5px 0px 5px 0px; }

.search { width: 200px; }

.delete-a { color: red; }

.restore-a {
    color: green;
}

.restore-a:hover, .delete-a:hover {
    text-decoration: none;
}

.download-a { color: green; }

.download-a:hover {
    text-decoration: none;
    color: green;
}

.edit-a { color: blue; }

.edit-a:hover { color: blue; }

.red { color: red; }

.links-pointer:hover { cursor: pointer; }

.comment-container { margin: 20px; }

.author-name {
    font-weight: bold;
    color: #428bca
}

.author-name:hover {
    color: #2a6496;
    text-decoration: underline;
}

.comment-body {
    float: left;
    max-width: 921px;
    word-wrap: break-word;
}

.word-wrapping {
    word-wrap: break-word;
}

.comment-time { float: right; }